CrazyAuctionsPremiumClient/xml-resources/web-service-references/PremiumCustomerWebService/wsdl/localhost_8080/PremiumCustomerWebService/PremiumCustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws/" name="PremiumCustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws/" schemaLocation="http://localhost:8080/PremiumCustomerWebService/PremiumCustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remoteViewCreditBalance">
<part name="parameters" element="tns:remoteViewCreditBalance"/>
</message>
<message name="remoteViewCreditBalanceResponse">
<part name="parameters" element="tns:remoteViewCreditBalanceResponse"/>
</message>
<message name="remoteViewAuctionListingDetails">
<part name="parameters" element="tns:remoteViewAuctionListingDetails"/>
</message>
<message name="remoteViewAuctionListingDetailsResponse">
<part name="parameters" element="tns:remoteViewAuctionListingDetailsResponse"/>
</message>
<message name="premiumRegistration">
<part name="parameters" element="tns:premiumRegistration"/>
</message>
<message name="premiumRegistrationResponse">
<part name="parameters" element="tns:premiumRegistrationResponse"/>
</message>
<message name="AuthenticationException">
<part name="fault" element="tns:AuthenticationException"/>
</message>
<message name="remoteViewWonAuctionListings">
<part name="parameters" element="tns:remoteViewWonAuctionListings"/>
</message>
<message name="remoteViewWonAuctionListingsResponse">
<part name="parameters" element="tns:remoteViewWonAuctionListingsResponse"/>
</message>
<message name="remoteBrowseAllAuctionListings">
<part name="parameters" element="tns:remoteBrowseAllAuctionListings"/>
</message>
<message name="remoteBrowseAllAuctionListingsResponse">
<part name="parameters" element="tns:remoteBrowseAllAuctionListingsResponse"/>
</message>
<message name="configureProxyBidding">
<part name="parameters" element="tns:configureProxyBidding"/>
</message>
<message name="configureProxyBiddingResponse">
<part name="parameters" element="tns:configureProxyBiddingResponse"/>
</message>
<message name="ProxyBidNotLargeEnoughException">
<part name="fault" element="tns:ProxyBidNotLargeEnoughException"/>
</message>
<message name="configureSnipingBid">
<part name="parameters" element="tns:configureSnipingBid"/>
</message>
<message name="configureSnipingBidResponse">
<part name="parameters" element="tns:configureSnipingBidResponse"/>
</message>
<message name="InsufficientBalanceException">
<part name="fault" element="tns:InsufficientBalanceException"/>
</message>
<message name="InvalidDateInputException">
<part name="fault" element="tns:InvalidDateInputException"/>
</message>
<message name="remoteLogout">
<part name="parameters" element="tns:remoteLogout"/>
</message>
<message name="remoteLogoutResponse">
<part name="parameters" element="tns:remoteLogoutResponse"/>
</message>
<message name="remoteLogin">
<part name="parameters" element="tns:remoteLogin"/>
</message>
<message name="remoteLoginResponse">
<part name="parameters" element="tns:remoteLoginResponse"/>
</message>
<portType name="PremiumCustomerWebService">
<operation name="remoteViewCreditBalance">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteViewCreditBalanceRequest" message="tns:remoteViewCreditBalance"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteViewCreditBalanceResponse" message="tns:remoteViewCreditBalanceResponse"/>
</operation>
<operation name="remoteViewAuctionListingDetails">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteViewAuctionListingDetailsRequest" message="tns:remoteViewAuctionListingDetails"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteViewAuctionListingDetailsResponse" message="tns:remoteViewAuctionListingDetailsResponse"/>
</operation>
<operation name="premiumRegistration">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/premiumRegistrationRequest" message="tns:premiumRegistration"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/premiumRegistrationResponse" message="tns:premiumRegistrationResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://soap.ws/PremiumCustomerWebService/premiumRegistration/Fault/AuthenticationException"/>
</operation>
<operation name="remoteViewWonAuctionListings">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteViewWonAuctionListingsRequest" message="tns:remoteViewWonAuctionListings"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteViewWonAuctionListingsResponse" message="tns:remoteViewWonAuctionListingsResponse"/>
</operation>
<operation name="remoteBrowseAllAuctionListings">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteBrowseAllAuctionListingsRequest" message="tns:remoteBrowseAllAuctionListings"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteBrowseAllAuctionListingsResponse" message="tns:remoteBrowseAllAuctionListingsResponse"/>
</operation>
<operation name="configureProxyBidding">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/configureProxyBiddingRequest" message="tns:configureProxyBidding"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/configureProxyBiddingResponse" message="tns:configureProxyBiddingResponse"/>
<fault message="tns:ProxyBidNotLargeEnoughException" name="ProxyBidNotLargeEnoughException" wsam:Action="http://soap.ws/PremiumCustomerWebService/configureProxyBidding/Fault/ProxyBidNotLargeEnoughException"/>
</operation>
<operation name="configureSnipingBid">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/configureSnipingBidRequest" message="tns:configureSnipingBid"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/configureSnipingBidResponse" message="tns:configureSnipingBidResponse"/>
<fault message="tns:InsufficientBalanceException" name="InsufficientBalanceException" wsam:Action="http://soap.ws/PremiumCustomerWebService/configureSnipingBid/Fault/InsufficientBalanceException"/>
<fault message="tns:InvalidDateInputException" name="InvalidDateInputException" wsam:Action="http://soap.ws/PremiumCustomerWebService/configureSnipingBid/Fault/InvalidDateInputException"/>
</operation>
<operation name="remoteLogout">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteLogoutRequest" message="tns:remoteLogout"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteLogoutResponse" message="tns:remoteLogoutResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteLogout/Fault/AuthenticationException"/>
</operation>
<operation name="remoteLogin">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteLoginRequest" message="tns:remoteLogin"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteLoginResponse" message="tns:remoteLoginResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://soap.ws/PremiumCustomerWebService/remoteLogin/Fault/AuthenticationException"/>
</operation>
</portType>
<binding name="PremiumCustomerWebServicePortBinding" type="tns:PremiumCustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remoteViewCreditBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteViewAuctionListingDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premiumRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="remoteViewWonAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteBrowseAllAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="configureProxyBidding">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProxyBidNotLargeEnoughException">
<soap:fault name="ProxyBidNotLargeEnoughException" use="literal"/>
</fault>
</operation>
<operation name="configureSnipingBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InsufficientBalanceException">
<soap:fault name="InsufficientBalanceException" use="literal"/>
</fault>
<fault name="InvalidDateInputException">
<soap:fault name="InvalidDateInputException" use="literal"/>
</fault>
</operation>
<operation name="remoteLogout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="remoteLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PremiumCustomerWebService">
<port name="PremiumCustomerWebServicePort" binding="tns:PremiumCustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/PremiumCustomerWebService/PremiumCustomerWebService"/>
</port>
</service>
</definitions>